{% extends "layout.html"%}    

    {% block title %}
    <title>CRUDER</title>
    {% endblock title %}
    {% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 col-lg-3 col-xl-2 sidebar bg-light py-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span class="d-none d-md-inline"> Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="posts">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            <span class="d-none d-md-inline"> Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="posts">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            <span class="d-none d-md-inline"> Tours</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-1" id="drp">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-offset="60,0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            <span class="d-none d-md-inline"> Dropdown</span>
                            <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuOffset">
                            <a class="px-0 dropdown-item" href="posts">Action</a>
                            <a class="px-0 dropdown-item" href="posts">Another action</a>
                            <a class="px-0 dropdown-item" href="posts">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>

            <main role="main" class="col-10 col-lg-9 col-xl-10 py-4 px-4">
                <h2 class="page-title pb-3 mb-3">Tours</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item">
                            <a href="index">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="posts">Tours</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">10</li>
                    </ol>
                </nav>
                <div class="page-content mt-4">
                    <div class="content-header row m-0 py-3">
                        <div class="col-12 col-sm-6">
                            <h5 class="page-subtitle m-0 font-weight-bold">Edit Tour -
                                <b>#10</b>
                            </h5>
                        </div>
                        <div class="col-12 col-sm-6 text-sm-right">
                            <p class="my-0 float-md-right">
                                    Updated At: <span class="text-info">01.09.2018</span>
                            </p>    
                            <p class="m-0 mr-3 float-md-right">
                                Created At: <span class="text-success">31.08.2018</span>
                            </p>
                        </div>
                    </div>
                    <div class="content-wrapper px-3 table-responsive-sm">
                        <form>
                            <div class="form-group row">
                                <label for="customFile" class="col-sm-2 col-form-label" id="random_image">Photo</label>
                                <div class="custom-file col-md-5">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <div class="offset-md-2 col-md-5">
                                    <img src="data:image/jpeg;base64, {{ image }}" alt="Tour_operator" width="500" height="300">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">Tour operator</label>
                                <div class="col-md-5">
                                    <select class="custom-select" name="Selected">
                                        <option selected>Tour operators names</option>
                                        <option value="1" name="1">One</option>
                                        <option value="2" name="2">Two</option>
                                        <option value="3" name="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-md-5">
                                    <input type="date" class="form-control" id="inputdate" placeholder="date" name="date">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="location" placeholder="location" name="location">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputduraion" class="col-sm-2 col-form-label">Duration</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="duration" placeholder="Duration in hours" name="duration">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputcost" class="col-sm-2 col-form-label">Cost</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="cost" placeholder="eg. 50" name="Cost">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputlocation" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="location" placeholder="eg. Giza" name="location">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5 offset-md-2" display="none">
                                    <div class="alert alert-success" role="alert" style="display: none;" id="Success">
                                        Success alert !
                                    </div>
                                    <div class="alert alert-danger" role="alert" style="display: none;" id="Error">
                                        Error alert !
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% endblock content %}