{% extends "layout.html"%}    

    {% block title %}
    <title>Tourism</title>
    {% endblock title %}
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 col-lg-3 col-xl-2 sidebar bg-light py-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span class="d-none d-md-inline"> Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="posts">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            <span class="d-none d-md-inline"> Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="posts">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            <span class="d-none d-md-inline"> Tours</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-1" id="drp">
                        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-offset="60,0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            <span class="d-none d-md-inline"> Dropdown</span>
                            <i class="fas fa-angle-right"></i>
                        </a>
                        <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuOffset">
                            <a class="px-0 dropdown-item" href="posts">Action</a>
                            <a class="px-0 dropdown-item" href="posts">Another action</a>
                            <a class="px-0 dropdown-item" href="posts">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>

            <main role="main" class="col-10 col-lg-9 col-xl-10 py-4 px-4">
                <h2 class="page-title pb-3 mb-3">Tours</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item">
                            <a href="index">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="posts">Tours</a>
                        </li>
                    </ol>
                </nav>
                <div class="page-content mt-4">
                    <div class="content-header row m-0 py-3">
                        <div class="col-12 col-sm-6">
                            <h5 class="page-subtitle m-0 font-weight-bold">All Tours</h5>
                        </div>
                        <div class="col-12 col-sm-6 text-sm-right">
                            <a href="new" class="btn btn-sm btn-info">Add New</a>
                        </div>
                    </div>
                    <form id="filterForm">
                        <label for="maxCost">Max Cost:</label>
                        <input type="number" id="maxCost" name="maxCost" min="0" step="1">
                        <button type="button" id="applyFilter" class="btn btn-sm btn-primary">Apply Filter</button>
                    </form>
                    <div class="content-wrapper table-responsive-sm">
                        <table class="table table-striped" id="data-table">
                            <thead>
                                <tr>
                                    <th>Tour operator</th>
                                    <th>Date</th>
                                    <th>Location</th>
                                    <th>Duration</th>
                                    <th>Cost</th>
                                    <th>Availability</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {%for tour in tours%}
                                    {% set tour_cost = tour.Cost | int %}
                                    {% if tour_cost < maxCost %}
                                    <tr>
                                        <td>{{tour.Tour_operator}}</td>
                                        <td>{{tour.Date}}</td>
                                        <td>{{tour.Location}}</td>
                                        <td>{{tour.Duration}} hours</td>
                                        <td>{{tour.Cost}}$</td>
                                        <td>{{tour.Availability}} seats</td>
                                    </tr>  
                                    {% endif %}
                                {%endfor%} 
                            </tbody>
                        </table>

                        <script>
                            $(document).ready(function(){
                            $('#data-table').on('click', '#editButton', function(event){

                                event.preventDefault();

                                var row = $(this).closest('tr');
                                var cells = row.find('td');

                                var tourOperator = cells.eq(0).text();
                                var location = cells.eq(2).text();
                                
                                // Use the data in the URL as query parameters
                                var url = `/edit?Tour_operator=${encodeURIComponent(tourOperator)}&Location=${encodeURIComponent(location)}`;

                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    contentType: 'application/json;charset=UTF-8',
                                    success: function(response) {
                                        console.log(response);

                                        var dataToSend = {
                                            Tour_operator: tourOperator,
                                            Location: location
                                        };

                                        // Convert data to URL parameters
                                        var queryParams = $.param(dataToSend);
                                        window.location.href =  "http://127.0.0.1:5000/edit?" + queryParams;

                                    },
                                    error: function(error) {
                                        console.error("Error: " + error);
                                    }
                                });
                            });
                        });
                        

                        ///////////////////////////////////////////////////////////////////////

                        $(document).ready(function(){
                            $('#data-table').on('click', '#deleteButton', function(event){

                                event.preventDefault();

                                var row = $(this).closest('tr');
                                var cells = row.find('td');

                                var tourOperator = cells.eq(0).text();
                                var location = cells.eq(2).text();
                                
                                // Use the data in the URL as query parameters
                                var url = `/delete?Tour_operator=${encodeURIComponent(tourOperator)}&Location=${encodeURIComponent(location)}`;

                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    contentType: 'application/json;charset=UTF-8',
                                    success: function(response) {
                                        console.log(response);

                                        var dataToSend = {
                                            Tour_operator: tourOperator,
                                            Location: location
                                        };

                                        // Convert data to URL parameters
                                        var queryParams = $.param(dataToSend);
                                        window.location.href =  "http://127.0.0.1:5000/delete?" + queryParams;

                                    },
                                    error: function(error) {
                                        console.error("Error: " + error);
                                    }
                                });
                            });
                        });
                        

                        $(document).ready(function () {
                            $('#applyFilter').on('click', function () {
                                var maxCost = parseInt($('#maxCost').val()) || 0;
                                console.log(maxCost)
                                // Loop through rows and show/hide based on the cost filter
                                $('#data-table tbody tr').each(function () {
                                    var cost = parseInt($(this).find('td:eq(4)').text().replace('$', '')) || 0;
                                    console.log('cost: ' + cost);

                                    // Use toggle() to show/hide rows based on the condition
                                    $(this).toggle(cost <= maxCost || !maxCost);
                                });
                            });
                        });
                        </script>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% endblock content %}